body {
  background-color: #ffc3c3;
  padding-left: 75px;
  align-items: center;
}

.Floater {
  margin: 10px;
  animation: float 2s infinite alternate;
  animation-delay: 0s;
  height: 300px;
}

.Floater:nth-of-type(2) {
  animation-delay: 1s;
}

.Floater:nth-of-type(3) {
  animation-delay: 1.5s;
}

.Floater:nth-of-type(4) {
  animation-delay: 2s;
}

.Floater:nth-of-type(5) {
  animation-delay: 2.5s;
}

.Floater:nth-of-type(6) {
  animation-delay: 3s;
}

.Floater:nth-of-type(7) {
  animation-delay: 3.5s;
}

.Floater:nth-of-type(8) {
  animation-delay: 4s;
}

.Floater:nth-of-type(9) {
  animation-delay: 4.5s;
}

.Floater:nth-of-type(10) {
  animation-delay: 5s;
}

.Floater:nth-of-type(11) {
  animation-delay: 5.5s;
}

.Floater:nth-of-type(12) {
  animation-delay: 6s;
}

.Floater:nth-of-type(13) {
  animation-delay: 6.5s;
}

.Floater:nth-of-type(14) {
  animation-delay: 7s;
}

.Floater:nth-of-type(15) {
  animation-delay: 7.5s;
}

.Floater:nth-of-type(16) {
  animation-delay: 8s;
}

.Floater:nth-of-type(17) {
  animation-delay: 8.5s;
}

.Floater:nth-of-type(18) {
  animation-delay: 9s;
}

.Floater:nth-of-type(19) {
  animation-delay: 9.5s;
}

.Floater:nth-of-type(20) {
  animation-delay: 10s;
}

.Floater:nth-of-type(21) {
  animation-delay: 10.5s;
}

.Floater:nth-of-type(22) {
  animation-delay: 11s;
}

.Floater:nth-of-type(23) {
  animation-delay: 11.5s;
}

.Floater:nth-of-type(24) {
  animation-delay: 12s;
}

.Floater:nth-of-type(25) {
  animation-delay: 12.5s;
}

.Floater:nth-of-type(26) {
  animation-delay: 13s;
}

.Floater:nth-of-type(27) {
  animation-delay: 13.5s;
}

.Floater:nth-of-type(28) {
  animation-delay: 14s;
}

.Floater:nth-of-type(29) {
  animation-delay: 14.5s;
}

.Floater:nth-of-type(30) {
  animation-delay: 15s;
}

.Floater:nth-of-type(31) {
  animation-delay: 15.5s;
}

.Floater:nth-of-type(32) {
  animation-delay: 16s;
}

.Floater:nth-of-type(33) {
  animation-delay: 16.5s;
}

.Floater:nth-of-type(34) {
  animation-delay: 17s;
}

.Floater:nth-of-type(35) {
  animation-delay: 17.5s;
}

.Floater:nth-of-type(36) {
  animation-delay: 18s;
}

.Floater:nth-of-type(37) {
  animation-delay: 18.5s;
}

.Floater:nth-of-type(38) {
  animation-delay: 19s;
}

.Floater:nth-of-type(39) {
  animation-delay: 19.5s;
}

.Floater:nth-of-type(40) {
  animation-delay: 20s;
}

.Floater:nth-of-type(41) {
  animation-delay: 20.5s;
}

.Floater:nth-of-type(42) {
  animation-delay: 21s;
}

.Floater:nth-of-type(43) {
  animation-delay: 21.5s;
}

.Floater:nth-of-type(44) {
  animation-delay: 22s;
}

.Floater:nth-of-type(45) {
  animation-delay: 22.5s;
}

.Floater:nth-of-type(46) {
  animation-delay: 23s;
}

.Floater:nth-of-type(47) {
  animation-delay: 23.5s;
}

.Floater:nth-of-type(48) {
  animation-delay: 24s;
}

.Floater:nth-of-type(49) {
  animation-delay: 24.5s;
}

.Floater:nth-of-type(50) {
  animation-delay: 25s;
}

.Floater:nth-of-type(51) {
  animation-delay: 25.6s;
}

.Floater:nth-of-type(52) {
  animation-delay: 26s;
}

.Floater:nth-of-type(53) {
  animation-delay: 26.5s;
}

.Floater:nth-of-type(54) {
  animation-delay: 27s;
}

.Floater:nth-of-type(55) {
  animation-delay: 27.5s;
}

.Floater:nth-of-type(56) {
  animation-delay: 28s;
}

.Floater:nth-of-type(57) {
  animation-delay: 28.5s;
}

.Floater:nth-of-type(58) {
  animation-delay: 29s;
}

.Floater:nth-of-type(59) {
  animation-delay: 29.5s;
}

.Floater:nth-of-type(60) {
  animation-delay: 30s;
}

.Floater:nth-of-type(61) {
  animation-delay: 30.5s;
}

.Floater:nth-of-type(62) {
  animation-delay: 31s;
}

.Floater:nth-of-type(63) {
  animation-delay: 31.5s;
}

.Floater:nth-of-type(64) {
  animation-delay: 32s;
}

.Floater:nth-of-type(65) {
  animation-delay: 32.5s;
}

.Floater:nth-of-type(66) {
  animation-delay: 33s;
}

.Floater:nth-of-type(67) {
  animation-delay: 33.5s;
}

.Floater:nth-of-type(68) {
  animation-delay: 34s;
}

.Floater:nth-of-type(69) {
  animation-delay: 34.5s;
}

.Floater:nth-of-type(70) {
  animation-delay: 35s;
}

.Floater:nth-of-type(71) {
  animation-delay: 35.5s;
}

.Floater:nth-of-type(72) {
  animation-delay: 36s;
}


.Floater:hover {
  transform: scale(2) !important;
  animation-play-state: paused;
  z-index: 999;
  position: absolute;
}

@keyframes float {
  0% {
    transform: translate(0,0) scale(1);
    box-shadow: 0 0 3px #888;
  }

  30% {
    transform: translate(0,0) scale(1.1);
    box-shadow: 0 0 10px #888;
  }

  50% {
    transform: translate(0px, -10px) scale(1.1);
    box-shadow: 0 -5px 10px #888;
  }

  75% {
    transform: translate(20px, 10px) scale(1.1);
    box-shadow: 10px 5px 10px #888;
  }

  100% {
    transform: translate(-10px, 20px) scale(1.1);
    box-shadow: -5px 10px 10px #888;
  }
}


