/* Basic reset */
.blinking-text {
  margin-top: 20px;
  margin-bottom: 20px;
  animation: blink 1s infinite;
  display: flex;
  justify-content: center;
  font-size: 150px;
  color: #FFC5C5;
  font-family: Mistral, serif;
}

.centered-container {
  text-align: center;
  align-content: center;
  justify-content: space-between;
  height: 200px;
}
.custom-button1{
  background-color: #8D918D;
  color: black;
  font-size: 50px;
  font-family: "Arial Black", serif;
  height: 120px;
  width: 300px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  margin: 100px;
}
.custom-button1:hover{
  transform: scale(1.1); /* Zoom in by 10% on hover */
  background-color: #D24545;
  color: antiquewhite;
}

.custom-button2{
  background-color: #8D918D;
  color: black;
  font-size: 50px;
  font-family: "Arial Black", serif;
  height: 120px;
  width: 300px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  margin: 100px;
}
.custom-button2:hover{
  transform: scale(1.1); /* Zoom in by 10% on hover */
  background-color: #D24545;
  color: antiquewhite;
}

.custom-button3 {
  background-color: #8D918D;
  color: black;
  font-size: 50px;
  font-family: "Arial Black", serif;
  height: 120px;
  width: 300px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  margin: 100px;
}
.custom-button3:hover{
  transform: scale(1.1); /* Zoom in by 10% on hover */
  background-color: #D24545;
  color: antiquewhite;
}

footer {
  color: #E3E2C3;
  font-size: 50px;
  font-family: "Times New Roman", serif;
  text-align: center;
  align-content: center;
  padding: 5px;
  height: 100px;
}
